<% include partials/header-backend %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
           <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Detalhes do Workshop</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-striped" id = "tabela">
                      <thead>
                        <tr>
													<th>Nome</th>
													<th>Data de inicio</th>
													<th>Data de Fim</th>
													<th>Lotação</th>
													<th>local</th>
													<th>Preço do Bilhete</th>
													<th>Cache</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var p of data) { %>
												<tr>
													<td><a href="/parametros/<%= p.idParametros %>"><%= p.nomeW %></a></td>
													<td><%= p.data_inicioW %></td>
													<td><%= p.data_fimW %></td>
													<td><%= p.lotacaoW %></td>
													<td><%= p.localW %></td>
													<td><%= p.precoBilhete %></td>
													<td><%= p.cacheS %></td>
												</tr>
												<%} %>
                      </tbody>
  									</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
<% include partials/footer-backend %>
