<% include partials/header-backend %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Sessões</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Registos & Updates</h2>
                    <div>
                    </div> 
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <td id="teste"></td>
                    <br />

                    <% if (errors.length) { %>  
                      <div class="alert alert-danger">
                        <ul>
                        <% for (var e of errors) { %>
                          <li><%= e.msg %></li>
                        <% }%>
                        </ul>
                      </div>	
                    <% } %>	
					
                    <form encType="multipart/form-data" action="/sessoes/<%= (isNew) ? 'createsessoes' : sessoes.idsessoes %>" method="post" data-parsley-validate class="form-horizontal form-label-left">
                    <!-- speaker -->
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Seleção do Speaker <span class="required">*</span>
                      </label>
                      <% if (! isNew) { %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input class="form-control col-md-7 col-xs-12" id="nome" name="nome" value="<%= sessoes.nome  %>"  required="required" type="text"  disabled>
                        </div>
                        <% } else { %>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" id="nome" name="nome">
                        <option>Selecione o Speaker</option>
                        <% for (var s of speaker) { %>
                          <option value="<%= s.nomeS %>" <%= s.nomeS %>><%= s.nomeS %></option>
                        <% } %>
                      </select>
                        </div>
                        <% } %>
                      </div>

                       <!-- Titulo da sessao -->
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tituloS">Titulo da Sessão <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" id="tituloS" placeholder="Titulo da Sessão" name="tituloS" value="<%= sessoes.tituloS %>"  required="required" type="text">
                          </div>
                      </div>

                      <!-- descrição da sessao -->
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descS">Descrição da Sessão <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input class="form-control col-md-7 col-xs-12" id="descS" placeholder="Descrição da Sessão" name="descS" value="<%= sessoes.descS %>"  required="required" type="text">
                          </div>
                      </div>

                      <!-- data de inicio -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="data">Data da Sessão <span class="required">*</span>
                        </label>
                        <% if (! isNew) { %>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" id="datas" name="datas" value="<%= sessoes.dataSessao  %>"  required="required" type="text"  disabled>
                          </div>
                          <% } else { %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" id="datas" required="required" name="data">
                          <option>Selecione a Data da Sessão</option>
                        </select>
                        </div>
                        <% } %>
                      </div>

					            <!-- HORA INICIO -->
					             <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="horaI">Hora de Inicio<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="time" id="horaI" name="horaI" required="required" class="form-control col-md-7 col-xs-12" value="<%= sessoes.horaI %>">
                        </div>
                      </div>

                      <!-- HORA Encerramento -->
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="horaF">Hora de Encerramento <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="time" id="horaF" name="horaF" required="required" class="form-control col-md-7 col-xs-12" value="<%= sessoes.horaF %>">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" onclick="window.open('/sessoes','_self')">Cancel</button>
                        </div>
                      </div>                  
                    </form>

                    <script type="text/javascript">

                        function removeRecord() {
                          if (confirm('Deseja mesmo remover esta Sessão?')) {
                            window.open("<%= '/sessoes/' + sessoes.idsessoes + '/delete'%>",'_top')
                            }
                          }

                      window.onload = function datas(){
                        
                        var start = new Date( '<%= parametros[0].data_inicioW %>');
                        var end = new Date( '<%= parametros[0].data_fimW %>');
                  
                        while(start <= end){
                          var x = document.getElementById("datas");
                          var option = document.createElement("option");

                          option.text = start.toLocaleDateString();
                          x.add(option);
                  
                          var newDate = start.setDate(start.getDate() + 1);
                          start = new Date(newDate);
                        }
                      }
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
<% include partials/footer-backend %>